/* Add CSS Styling */
.left-button {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.right-button {
    background-color: hsl(60, 100%, 50%);
}

.left-button,
.right-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}